@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.opensans {
  font-family: "Open Sans", sans-serif;
}
*{
    margin: 0;
    padding: 0;
    /* font-family: "Lucida Console", "Courier New", monospace; */
    /* font-family: "Heebo",sans-serif; */
    font-family: "Open Sans", sans-serif;

}
a:hover{
  text-decoration: none !important;
  color: #000000 ;
}
html {
    scroll-behavior: smooth;
  }
  /* Smooth scrolling animation */

/*** Spinner ***/
#spinner {
  opacity: 0;
  visibility: hidden;
  transition: opacity .5s ease-out, visibility 0s linear .5s;
  z-index: 99999;
}

#spinner.show {
  transition: opacity .5s ease-out, visibility 0s linear 0s;
  visibility: visible;
  opacity: 1;
}

  .breadcrumb {

    background-color: transparent !important;

}
.breadcrumb-item a{
  font-family: "Heebo",sans-serif !important;

    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5;

    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.breadcrumb-item + .breadcrumb-item::before {
   content: "/";
  color: #fff !important;
}
.btn-lg-square {
  width: 40px;
  height: 40px;
}
.back-to-top {
  position: fixed;
  display: none;
  right: 25px;
  bottom: 20px;
  z-index: 99;
  background-color: #FD850B;
  color: #fff;
}
.back-to-top:hover{
  color: #fff !important;
}
.back-to-top .arrow:hover{
color: #fff!important;
}
.btn-lg-square {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: normal;
  border-radius: 0px;
}
.top-bar{
    background-color: #f0f0f0;
    line-height: 18px;
    font-size: 16px;
    /* font-family: Arial, Helvetica, sans-serif; */
    /* font-family: "Raleway", sans-serif; */
    /* font-family: "Lucida Console", "Courier New", monospace; */
    font-family: "Open Sans", sans-serif;

    font-weight: 400;
    /*height: 2.2rem;*/

}

.contact-topbar{
        font-size: 12px;
    padding: 0px 5px;
    /* margin: 0rem 3.4rem; */
    color: #fff;
}


.top-nav a{
    font-size: 12px;
    padding: 0px 5px;
    /*margin: 0rem 3.4rem;*/

}
.top-second{
    margin-top: 0.8rem;
    /* margin-left: 3rem; */
}
.top-second img{
    width: 150px;
    height:50px ;
    margin-left: 3.5rem;

}
.social-media-icons {
    display: flex;
    justify-content: center;
  }

  .social-media-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    /* width: 30px;
    height: 30px; */
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: 10px;
    margin: 0 10px;
  }

  .social-media-icon {
    background-color: #e1e1e1;
  }


  .social-media-icon a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    text-decoration: none;
  }

  .social-media-icon i {
    font-size: 14px;
    color: #000000;
    font-weight: 500;
  }
  .nav-blue{
    /* background-color: #6883BC; */
    background-color: #fff;
    }
  .blue{
    background-color: #6883BC;

  }

  .nav-blue img{
    /*width: 120px;*/
    /*height: 35px;*/
    width: 230px;
    height: 67px;
  }

  .nav-item .nav-link {
    font: 14px "Raleway", sans-serif;

    color: #f0f0f0 ;
    padding: 0px;
    display: inline-block;
}

.nav-ul{
    width: 96%;
    margin: 0 auto;
}
/* .topnav .icon {
  display: none;
} */

.nav-blue .icon{
  float: right;
  color: black;
  padding-top: 10px;
}
header.header_area.topbar {
    height: 90px;
}
@media (max-width: 991px) {
  .topnav:not(.responsive) .nav-item {
    display: none;
  }
  .toggle-button {
    display: block;
  }
  .nav-link:hover{
    color:#FD850B
  }
}

@media (min-width: 992px) {
    .home{

            margin-left: 45px;

    }
  .nav-blue .icon{
    display: none;
  }
  .toggle-button {
    display: none;
  }
}
.topnav{
  width: 100%;
  margin-top: -0.3rem;
}
.nav-item {
    padding: 4px 4px;
    font-size: 18px;
    font-weight: 800;
}

@media (min-width: 992px)
{

.sticky-top.navbar-light {
    position: fixed;
    background: #FFFFFF;
    color: #000000!important;
    padding: 1px;
    margin-top: 0;
}
.sticky-top .nav-item.nav-link {
  font: 14px "Raleway", sans-serif;
  padding: 2px;
  display: inline-block;
  color: black !important;
}
.sticky-top.navbar-light .navbar-nav .nav-link {
  color: black !important;
}
.sticky-top.nav-item{
  padding: 20px 1px !important;
}
.sticky-top.nav-blue img {
  width: 180px;
  height: 60px;
  padding-top: 6px;
  padding-left: 30px;
}
.navbar-light {
  /* position: absolute; */
  width: 100%;
  top: 0;
  left: 0;
  z-index: 999;
}


}

@media only screen and (min-width : 768px) {
  .nav-blue{
    z-index: 999;

  }
  .navbar-light .navbar-nav .nav-link {

    padding-top: 1rem;
}
.navbar-light .navbar-nav .nav-link:hover {

  color: #FD850B!important;
}
.nav-blue .icon {

  padding-top: 26px;
}
}
@media (max-width: 767px) {
  .navbar.sticky-top,
  .navbar.shadow-sm {
    position: relative;
    top: unset;
    box-shadow: none;
  }
  .nav-blue{
    z-index: 999;
  }
}

@media (min-width: 768px) {
  .toggle-button {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
.top-nav{
  padding: 0.5rem 0rem;
    width: 100%;
    justify-content: flex-start;
    flex-wrap: nowrap;
}
header.header_area.topbar {
  height: 68px;
}
a.see{
    margin-right:10px;
}
.top-bar {
  height: 3.8rem;
}
.centre-item {

    width: 206px !important;
}
.nav-item{
  padding: 4px 1px !important
}
.nav-ul {
  width: 95%;

}
.navbar-light .navbar-nav .nav-link {

  padding-top: 1rem;
}


.nav-blue{
  z-index: 999;
}
.nav-blue img {
  width: 110px;
  height: 37px;

}


}
.centre-item{
  font-size: 12px;
  width: 310px;
  color: #fff;
}
.contact-us {

  font-size: 12px;
}
.navbar-light .navbar-nav .nav-link {
  color: black !important;

}
.navbar-toggler:focus {
  outline: none;
  box-shadow: none;
  background-color: #445E95;
}
 /* Medium Devices, Desktops */

 @media only screen and (min-width : 992px) {
  .navbar-light .navbar-nav .nav-link {
    padding-top: 0rem;
}
.nav-item {
  padding: 24px 1px;
  font-size: 18px;
  font-weight: 800;
}
/* .nav-blue img {

  width: 180px;
  height: 49px;

} */
 }

/* section.item {
  margin-top: 14rem;
} */


/* carosaol */
.carousel-item img {
    width: 100% !important;
    height: 290px !important;
    object-fit: cover;
    filter: opacity(0.8) drop-shadow(0 0  black);

}
.readmore{
  background-color: #FD850B;
  outline: none;
  border-color: #FD850B;
  color: #fff;
}
.title-hardware{
  font-size: calc(1.525rem + 3.3vw);
  line-height: 1.2;
  font-weight: 900;
}

/* nav responsive for mobile */
@media (max-width:480px){
    .top-nav a, p, span i {
        font-size: 11px;
        padding: 0px 5px;
        margin: 0;
    }
    .top-second img {
        width: 92px;
        height: 40px;
        margin-left: 0;
    }
    .social-media-icons {
        margin-left: 1rem;
        display: none;

    }
    .social-media-icon {
         width: 25px;
        height: 24px;

    }
    .social-media-icon i {
        font-size: 12px;

        font-weight: 400;
    }
    .top-second{
      display: none !important;
    }
}

/* about */
.about-section{
  margin-top: 5rem;
}

.img-about {
  max-width: 100%;
  height: auto;
  height: 355px;
  object-fit: cover;
  width: 100%;
}

.about p {
  /* font-family: "Heebo",sans-serif; */
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  color: #919294;

  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.our-mission{
  margin-top: 2rem;
}

.our-mission .vision img{
  width: 100%;
  margin-left: 2rem;
}
.our-mission .vision img{
  width:80%;
  margin-top: 2rem;
}
.our-mission .values img{
  width:80%;
  margin-top: 2rem;
}
.col-mis{
  margin-top: 5rem;
}
.our-mission p{
  /* font-family: "Heebo",sans-serif; */
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  color: #919294;
  padding-top: 0.5rem;

  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0,0,0,0);

}

/* about responsive */
@media only screen and (max-width: 600px) {
  .our-mission .row{
    flex-direction: column;
  }
  .our-mission {
    margin-top: -1rem;
}
  .col-3{
    max-width: 100% !important;
  }
  .col-mis {
    margin-top: -3rem;
    text-align: center;
}
.col-9 {

    max-width: 100%;
}
.our-mission .values img {
  width: 81%;

  margin-left: 2rem;
  margin-bottom: 2rem;
}
}

/* branch */
.branch{
    margin-top: 3.5rem;
}
.branch-title{
    color:#FD850B;
    /* font-family: "Lucida Console", "Courier New", monospace; */
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    margin-top: 3.5rem;
}
.branch-link{
  margin: 10px;

}

.branch-link{
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  margin-top: 2rem ;
  color:#404040;

}

.active-link {
  color:#FD850B;
  font-family: "Open Sans", sans-serif;
    font-size: 18px;
    margin-top: 2rem ;
    margin-right: 1rem;
}

.branch-info{
  /* display: flex; */
  font-size: 14px;
  text-decoration: none;
  margin-top: 2px;
}
.branch-info:nth-child(2){
  margin-top:6px;

}

.branch .content{
  margin-top:3.5rem;
}
.branch-item{
  margin-top: 1rem;
}

.branch-info .city-name{
  margin-left: 1rem;
  margin-top: -3px;
}
.branch-info a{
  font-size: 14px;
}
.collapseable-card--top.p-2.mb-0 {
    height: 125px;
}
.text-white{
  color: white;
}
.text-black{
  color:#000000
}
.col {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.5s ease-out, transform 0.4s ease-out;
}
.col.animate {
  opacity: 1;
  transform: translateY(0);
  transition-timing-function: cubic-bezier(0.5, 0, 0.5, 1);
}
.col {
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 0.4s ease-out, transform 0.4s ease-in-out, background-color 0.4s ease-out;

  background-color: #fff;
}

.col.animate {
  opacity: 1;
  transform: translateY(-10px);
  transition-timing-function: cubic-bezier(0.5, 0, 0.5, 1);

}
.fade-in {
  animation: fadeIn 0.5s ease-in-out forwards;
}

.fade-out {
  animation: fadeOut 0.5s ease-in-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/* carousel css */
/* .carosoul-home .carousel-item {
  animation: slideInRight 2s ease-in-out forwards;
}

@keyframes slideInRight {
  0% {
      transform: translateX(100%);
  }
  100% {
      transform: translateX(0%);
  }
}

.carosoul-home .carousel-item-next {
  animation: slideOutLeft 2s ease-in-out forwards;
}

@keyframes slideOutLeft {
  0% {
      transform: translateX(0%);
  }
  100% {
      transform: translateX(-100%);
  }
} */

/* css for news started */

.news {
  background-color: #F5F5F5;
  margin-top: 3rem;
}
.news-top {
  display: flex;
  justify-content: center;
}
.center {

  margin: auto;
}
.right {

  margin-top: 4rem;
  color:black;
  margin-right: 1rem;
}
.right a{

  padding-right: 1rem;
  cursor: pointer;
   color: #3f3f3f;
   font-family: 'Open Sans',sans-serif;
   font-weight: 700;
   font-size: 14px;
   line-height: 1.57143
}

.right a:hover{
  color: #FD850B !important;
  padding-right: 1rem;
}
.navbar-light .navbar-nav .nav-link.active{
  color: #FD850B !important;
}
.title-news {
  text-align: center;

}
.title-news {
  color: #FD850B;
  font-family: "Lucida Console", "Courier New", monospace;
  font-size: 20px;
 padding-top: 2rem;

}

.news-slider {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 5px 20px;
}
.col-news{
  margin-bottom: 3rem;
}
.news-text {
  font-size: 14px;
  color: black;
  font-weight: 400;
  padding: 10px;
  height: 230px;

}
.modal-pop{
  position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;

    /* overflow: hidden; */
    z-index: 1050;
    overflow: auto;
    outline: 0;
    background: #000;
    background: rgba(0,0,0,.75);
}
.modal-open{

  /* background: #000;
  background: rgba(0,0,0,.75); */

}
.modal-home{
  height: 400px;
  width: 100%;
}

.modal-con{
  padding: 2rem !important;
}
.modal-title{
  padding-left: 1rem;
}

.news-content{
  height: 95px;
}


.news-rows {
  margin-top: 2rem;
}
.news-box {
  display: flex;
  flex-direction: column;
  background-color: white;
  /* width: 240px; */
  padding: 15px;
  box-shadow: 0px 0px 2px 2px rgba(103, 85, 85, 0.08);
  border-radius: 5px;
  /* margin: 30px 15px; */
}

.news-box:hover {
  background-color: rgb(249, 246, 247);
}

.news-detail {
  display: flex;
  /* height: 70px; */
}
.news-detail a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}
.text-right{
  text-align: right;

}
.notice{
  margin-bottom: -0.1rem !important;
}


#second-row {
  width: 80%;
  margin: 10px auto;
}

/* responsive for news started */
@media (min-width: 992px) {
  .news-text {
    font-size: 14px !important;

    padding: 10px !important;
    height: 230px !important;

  }
}
@media only screen and (min-width : 768px) {
  .news-slider {
    flex-direction: row !important;
        flex-wrap: wrap;
}
.news-text {
  font-size: 12px;

  padding: 2px;
  height: 202px;
}
  }
@media only screen and (max-width: 600px) {
  .news-slider {
    flex-direction: column;
    margin: 0px 20px;
  }
  .news-box {
    margin: 10px 5px;

  }
  .news-text {
    height: 180px ;
}
.news-content {

  margin-top: 1rem;
}
.news-text p{
  font-size: 12px;
}

  #second-row {
    width: 90%;
    margin: 10px auto;
  }

.image-container img{
  width: 100%;
}

}
@media (max-width: 576px) { /* Modify this media query to target the desired mobile viewport */
  .col-news {
    width: 100% !important;
    flex: 0 0 100%; /* Set flex-basis to 100% to override the col-sm-4 and col-md-4 classes */
  }
}
@media only screen and (min-width: 600px) {
  .news-row {
    background-color: #ffeef6;
    display: flex;
    flex-direction: row;
  }
  .news-slider {
    flex-direction: column;
    margin: 0px auto;
    width: 100%;
  }
  .news-box {
    margin: 10px 5px;
    width: 95%;
  }
}

@media only screen and (min-width: 992px) {
  .news-slider {
    flex-direction: row;
    flex-wrap: wrap;

    width: 90%;
  }
  .news-box {
    /* margin: 10px 10px; */
    width: 95%;

    padding: 5px;
  }

}
@media only screen and (min-width: 1200px) {
  .news-slider {
    flex-direction: row;
    width: 92%;
    flex-wrap: wrap;
  }

}


/* item image */

/*** Gradient Text & BG ***/
.text-primary-gradient {
  background: linear-gradient(to bottom right, var(--primary), var(--secondary));

  -webkit-text-fill-color: transparent;
}

.text-secondary-gradient {
  background: linear-gradient(to bottom right, var(--secondary), var(--primary));
 ;
  -webkit-text-fill-color: transparent;
}

.bg-primary-gradient {
  background: linear-gradient(to bottom right, var(--primary), var(--secondary));
}

.bg-secondary-gradient {
  background: linear-gradient(to bottom right, var(--secondary), var(--primary));
}

/*** Button ***/
.btn {
  transition: .5s;
}






/*** Feature ***/
.feature-item {
  transition: .5s;
}

.feature-item:hover {
  margin-top: -15px;
  box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .08);
}
.item-container{
  margin-top: 2rem;
}
p.see {
  margin-top: -4.5rem;
  right: 0;
  position: absolute;
}
a.see {
  margin-top: -4.5rem;
  right: 0;
  position: absolute;
  cursor: pointer;
    color: #3f3f3f;
    font-family: 'Open Sans',sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.57143;
}
a.see:hover {
  color: #FD850B !important;
 }
p.see:hover {
 color: #FD850B;
}
.item-bg{
  background-image: url(shop-3.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.item .carousel-item img {

  height: 385px !important;
  transition: .9s;

}


.col-prod{
  margin: 20px auto;
}
.image-container {
  display: flex;
  flex-wrap: wrap;
}

.image-container img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  margin-right: 10px;
  margin-bottom: 10px;
  height: 270px;
}
.product-image {
  width: 100%;
  height: 0;
  padding-bottom: 100%;
}
@media only screen and (min-width: 768px) {
  .product-image {
    width: 50%;
    padding-bottom: 50%;
  }
}

@media only screen and (min-width: 992px) {
  .product-image {
    width: 33.33%;
    padding-bottom: 33.33%;
  }
}

/* teams css */
.teams{
  margin-top: 2rem;
}
.prod-item {
  transition: .5s;
  margin-top: 1rem;

}

.prod-item {

  background: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 5px;
    user-select: none;

    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0px 4px 10px rgba(97, 97, 97, 0.25);
}
.team-container {
  display: flex;
  flex-wrap: wrap;
}
.team-container img{
  object-fit: cover;
    margin-right: 10px;
    margin-bottom: 10px;
    width: 100%;
    height: 280px;
}

/* section contact css started */

.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3rem auto;
  width: 86vw;
}


.contact-container h3 {
  color: #FD850B;
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 20px;
    margin-top: 2rem;

}
.num{
    font-size:12px !important;
}
.intro-section  {
  font-size: 60px;
  font-weight: 900;
  line-height: 1;
  color: #fff;
  margin-top: -10rem;

  font-family: "Nunito",sans-serif;
}
.contact-info {
  display: flex;
  width: 98%;
  margin-top: 1.3rem;
}

.contact-info form {
  display: flex;
  flex-direction: column;
  width: 70%;
  box-shadow: 0 0 19px rgb(228, 228, 228);
  text-align: center;
  color: rgb(40, 39, 39);
  border-radius: 5px;
  padding: 7px;
}
.forms h6 {
  padding: 20px;
  margin-top: 1rem;
}

.contact-container .details {
  display: flex;
  flex-direction: column;
  width: 40%;
  background: #F6F9FC;
  color: black;
  border-radius: 5px;
  padding: 7px;
  box-shadow: 0 0 19px #F6F9FC;
  box-shadow: 0 0 19px rgb(228, 228, 228);
}
.contact-items {
  display: flex;
  align-items: center;
  font-size: 12px;
  /* margin-left: 5px; */
}
.contact-items i{
  margin-bottom: 1rem;
}
.contact-items-wrapper {
  padding: 5px ;
  /*line-height: 3;*/
  margin: 4rem auto;
}
.box-contact{
    line-height: 3 !important;
}
.box-contact i{
    padding-top:12px !important;
}
.contact-box{
  display: flex;
    flex-direction: row;
    height: 28px;
}

.contact-box i {
  /*padding-top: 12px;*/
  padding-top: 4px;
  font-size: 12px;
  color: #757575;

}

.details h5 {
  text-align: center;
  padding-top: 5px;
  margin-top: 2rem;
}

.details p {
  font-size: 12px;
  margin-left: 15px;
color: #757575;
  font-family: "Lucida Console", "Courier New", monospace;
}
.details-title {
  width: 43px;
  color: #757575;
}

.sub-title {
  font-size: 13px;
  padding-left:18px
}
a.emai{
  font-size: 12px;
  margin-left: 15px;
  color: #757575;
  font-family: "Lucida Console", "Courier New", monospace;
  padding-left: 14px;
}

.details p a {
  color: black;
  text-decoration: none;
  font-family: "Lucida Console", "Courier New", monospace;
  font-size: 14px;
  color: #757575;
}
.details p a:hover {
  color: rgb(57, 56, 56);
}

.contact-info input {
  margin: 15px 15px;
  height: 25px;
  font-size: 10px;
}
a.email{
  font-size: 12px;
  margin-left: 15px;
  color: #757575;
  font-family: "Lucida Console", "Courier New", monospace;
  padding-left: 14px;
  padding-top:2px;

}

.contact-info textarea {
  height: 150px;
  margin: 5px 15px;
  padding: 10px;
  font-size:10px;
}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
textarea:focus {
  background-color: #F6F9FC;
  outline: none;
  border: none;
  font-size: 13px;
}

.contact-info button {
  margin: 18px 15px;
  width: 80px;
  background: #4294E3;
  padding: 10px 10px;
  border: 0;
  border-radius: 5px;
  color: white;
  font-weight: 600;
  font-size: 15px;
}
.list-group-item+.list-group-item {
  border-top-width: 1px;
}

@media only screen and (max-width: 600px){

  .contact-info {
    flex-direction: column;
    width: 90%;
  }
.contact-container{
  width: 100%;
  margin-top: 1rem;
}
  .googlemap .contact-info {

    width: 100%;
}
.contact-container .details {
  width: 100% !important;
}
.google-map {
  height: 390px !important;
  width: 98% !important;
  margin-left: 0.5rem !important;
}

}
@media screen and (max-width: 780px) {
  .contact-container {

    width: 90vw;
}
  .contact-info {

    width: 100%;
  }
  .google-map {

       width: 96%;

}
  .contact-info form {
    width: 100%;
    margin-bottom: 5px;
  }
  .details {
    width: 100%;
  }

  .contact-container .details {
    width: 55%;
}
}

/* section contact ended   */
/*** Footer ***/
.footer {
  margin-top: 3rem;
  padding-top: 2rem;

  background-position:
      left 0px bottom 0px,
      right 0px top 50%,
      center top;
  background-repeat: no-repeat;
  background-color: #4294E3;
}
.footer h4{
  font-family: "Jost",sans-serif !important;
  margin-bottom: 1rem;
    font-size: 18px;
    margin-top: 11px;
}
.mail-footer{
  font-size: 12px !important;
}
.footer .me-3 {
  margin-right: 0.7rem !important;
}


.footer .btn.btn-social {
  margin-right: 5px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--light);
  border: 1px solid rgba(256, 256, 256, .1);
  border-radius: 40px;
  transition: .3s;
}

.footer .btn.btn-social:hover {
  color: var(--primary);
  color:black;
  transition: .4s;
  transition-timing-function: ease;
}

.footer .btn.btn-link {
  display: block;
  margin-bottom: 10px;
  padding: 0;
  text-align: left;
  color: var(--light);
  font-weight: normal;
  transition: .9s;
  font-size: 14px;

}

.footer img {
  width: 150px;
  height: 48px;

}
.footer p{

  font-size:14px;
}
.btn-link:focus{
  text-decoration: none!important;
}
.footer .btn{
  border: none!important;
}
.footer span {
  display: block;
  padding-left: 1.5rem;
}
.footer .btn.btn-link::before {
  position: relative;
  content: "\f105";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  margin-right: 10px;
}

.footer .btn.btn-link:hover {
  letter-spacing: 1px;
  box-shadow: none;
  color:#fff !important;
}

.footer .copyright {
  padding: 25px 0;
  font-size: 14px;
  border-top: 1px solid rgba(256, 256, 256, .1);
}

.footer .copyright a {
  color: var(--light);
}

.footer .footer-menu a {
  margin-right: 15px;
  padding-right: 15px;
  border-right: 1px solid rgba(255, 255, 255, .1);
}

.footer .footer-menu a:last-child {
  margin-right: 0;
  padding-right: 0;
  border-right: none;
}

/* offer css */
.offer{
  width: 100%;
  margin: 5rem auto;
}
/* Container holding the image and the text */
.container {
  position: relative;
  font-family: Arial;
}

.text-block {
  position: absolute;
  bottom: 150px;
  right: 280px;
  left: 60px;
  /* background-color: black; */
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}
.offer .container {
  position: relative;
  text-align: center;
  color: white;
}

/* offer responsive */
@media only screen and (max-width: 600px){
  .text-block {
      left: 57px !important;
      top: 82px !important;
}
.offer-row {
  width: 100% !important;

}
.offer h4 {
  font-size: 21px !important;
  margin-top: 2rem;
}
.offer h2 {
  font-size: 26px !important;

}
.prod-item{
  margin-top: 1.5rem;
}
.offer img {
  height: 355px;
}
.offer p {
  font-size: 13px !important;

}
a.see {

    margin-right: 10px !important;
}


}

/* Centered text */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* google map */
.google-map {
  /* padding-bottom: 38%; */
  /* position: relative; */
  width: 86%;
  margin: 0 auto;
  height: 500px;
}

.google-map iframe {
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  /* position: absolute; */
}
@media only screen and (max-width: 600px) {
  /* .google-map {
    height: 230px;
  } */
  .footer{
    margin-top: 4rem;
  }
}

/* google map branch */
.googlemap .details{
  background-color: #FFFFFF !important;
}

.googlemap .branch-list{
  margin: 0.8rem auto;

}
.list-group-item-action:hover, .list-group-item-action:focus {
  color: #FFFFFF !important;
  text-decoration: none;
  background-color: #FD850B !important;
}

.list-group-item-action.locateicon {
  color: #FD850B;
  font-size: 20px;
  padding-right: 1px;
}
.push-left{
  margin-left: -1rem;
}

.list-group-item-action .sec-title{
  color: grey;
  font-size: 12px;
}

i.fas.fa-map-marker-alt.color-red {
  margin-right: 5px;
}


/* offer css */
.offer{
  width: 100%;
  margin: 5rem auto;
}
.offer-row{
  width: 85%;
  margin: auto;
  background-color: #e1e1e1;
}

/* Container holding the image and the text */
.container {
  position: relative;
  font-family: Arial;
}
.offer h4{
  font-size: 4rem;
}
.offer h2{
  font-size: 4rem;
  font-weight: 700;
}

.offer img{
  height: 415px;
}
.offer p {
  font-size: 18px;
}

.text-block {
  position: absolute;
  bottom: 80px;
  right: 120px;
  left: 70px;
  /* background-color: black; */
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}
.offer .container {
  position: relative;
  text-align: center;
  color: white;
}


/* Centered text */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #FFFFFF;
  font-weight: 900;
}
.centered h6{
  font-size: 25px;
  font-weight: 900;
}
/* offer  */
.col-offer{
  padding: 0;
  margin: 0;
}


.pagination{
  margin-top: 2rem;
}


